.content {
  &__imprint {
    h2 {
      margin-bottom: 5rem;

      @media screen and (min-width: $tab-base) {
        margin-bottom: 8rem;
      }
    }
    h4 {
      margin-bottom: 1rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    a {
      color: $color-primary;
      transition: all 0.5s ease;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
