.content {
  &__privacy {
    h2 {
      margin-bottom: 5rem;

      @media screen and (min-width: $tab-base) {
        margin-bottom: 8rem;
      }
    }

    h4 {
      margin-bottom: 1rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    ul {
      list-style-type: square;
      margin-left: 2rem;
      margin-bottom: 3rem;
    }

    li {
      font-size: 1.4rem;
      line-height: 1.7;
      @media screen and (min-width: $phone) {
        font-size: 1.6rem;
      }
    }

    a {
      color: $color-primary;
      transition: all 0.5s ease;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
