{{ define "title" }}Angular Austria Association{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}"/>
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading  "content" .)}}

<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3 text-primary">What we do</h2>
    </div>

    <div class="col-12 col-md-4 mb-1">
      <div class="purposes">
        <img class="icon" src="images/molecular.svg" alt="connections icon">
        <div>
          <h3>Connect</h3>
          <p>People & organizations</p>
        </div>
      </div>
      <div class="purpose-photo">
        <img src="images/homepage-photo-connect.jpg">
      </div>
    </div>
    <div class="col-12 col-md-4 mb-1">
      <div class="purposes">
        <img class="icon" src="images/support.svg" alt="support icon">
        <div>
          <h3>Support</h3>
          <p>Meetups & events</p>
        </div>
      </div>
      <div class="purpose-photo">
        <img src="images/homepage-photo-support.jpg">
      </div>
    </div>
    <div class="col-12 col-md-4 mb-1">
      <div class="purposes">
        <img class="icon" src="images/appointment.svg" alt="appointment icon">
        <div>
          <h3>Organize</h3>
          <p>Workshops & conferences</p>
        </div>
      </div>
      <div class="purpose-photo">
        <img src="images/homepage-photo-organize.jpg">
      </div>
    </div>
  </div>
</div>

<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3 text-primary">Our Sponsors</h2>
      <p class="text-center">Our community support activities would not be possible without the support of our sponsors:</p>
    </div>

    <div class="col-6 col-md-3 mb-2">
      <div class="sponsor sponsor-large">
        <a href="https://www.anexia-it.com/"><img src="images/sponsor-anexia.jpg" alt="Anexia logo"></a>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="sponsor sponsor-large">
        <a href="https://www.apa-it.at/"><img src="images/sponsor-apa-it.png" alt="APA IT logo"></a>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="sponsor sponsor-large">
        <a href=""><img src="images/sponsor-oebb.svg" alt="ÖBB logo"></a>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="sponsor sponsor-large">
        <a href="https://www.oebb.at/"><img src="images/sponsor-apc.png" alt="APC logo"></a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 col-md-2">
      <div class="sponsor sponsor-small">
        <a href="https://25th-floor.com/"><img src="images/sponsor-25th-floor.svg" alt="25th Floor logo"></a>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="sponsor sponsor-small">
        <a href="https://www.lean-coders.at/"><img src="images/sponsor-lean-coders.svg" alt="Lean Coders logo"></a>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}