.video-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 24px;
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}

.video-item {
  .video-title {
    font-weight: bold;
  }
  .video-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;

    .speaker {
      flex: 1;
    }
    .date, .event {
      font-size: 12px;
      padding: 3px 6px;
      border-radius: 3px;
      margin: 0 3px;
    }
    .date {
      background-color: #eee;
    }
    .event {
      background-color: #ffc7bb;
    }
  }
  iframe {
    max-width: 100%;
  }
}