.app-slackinfo {
  background-color: $color-secondary;
  .content__slackinfo {
    color: $white;
    padding: 5rem 0;
    text-align: center;

    h2 {
      color: $white;
      margin-bottom: 0;
      text-shadow: 1px 1px 1px black;
    }

    a {
      img {
        height: 4rem;
        margin: 3rem 0;
        @media screen and (min-width: $tab-base) {
          height: 8rem;
        }
      }
    }
  }
}
