.content {
  &__jumbotron__big {
    &-img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; // make sure I go behind the parent ::before
    }
  }

  &__about,
  &__sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
      @media screen and (min-width: $tab-base) {
        width: 730px;
      }
    }
  }

  &__wwd {
    &-boxes {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $tab-base) {
        flex-direction: row;
        align-items: baseline;
      }
    }

    &-box {
      margin: 1rem 0;
      padding: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 20px $color-box-shadow-primary;

      @media screen and (min-width: $phone-mini) {
        width: 370px;
      }

      @media screen and (min-width: $tab-base) {
        margin: 0 1rem;
      }

      img {
        height: 160px;
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 2rem;

        @media screen and (min-width: $phone-mini) {
          height: 230px;
        }
      }

      span {
        font-size: 1.3rem;
        color: $color-secondary;
        margin-top: 2rem;

        @media screen and (min-width: $tab-base) {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__upcoming {
    &-container {
      position: relative;
      background-image: url('../../assets/imgs/upcoming_preview-bg.jpg');
      width: 100%;
      height: auto;
      padding: 8rem 0;
      overflow: hidden;
      color: $white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, $black, $black);
        opacity: 0.75;
      }
    }

    &-info {
      text-align: center;
      h2 {
        color: $white;
        text-shadow: 1px 1px 1px black;
      }

      a {
        display: block;
        width: 210px;
        margin: 0 auto;
      }
    }
  }

  &__sponsors {
    span {
      text-align: center;
      font-size: 1.6rem;
      display: block;
      width: 100%;
      @media screen and (min-width: $tab-base) {
        font-size: 2rem;
      }
    }

    &-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 0;

      @media screen and (min-width: $tab-base) {
        margin-top: 5rem;
      }

      img {
        height: 70px;
        margin: 6rem 3rem 0 3rem;

        @media screen and (min-width: $tab-base) {
          height: 100px;
        }

        &.small_logo {
          height: 45px;

          @media screen and (min-width: $tab-base) {
            height: 60px;
          }
        }
      }
    }
  }
}
